
<!--home page-->
<section class="home-page">
    <div class="container mx-auto">
        <!--userbtn-->
        <div class="relative mx-auto inline-block" >
            <span class="flex text-center items-center bg-pink-500 rounded-full w-60 h-60 justify-center" >
                <router-link
                        to="/users"
                        class="inline-block w-40 h-40 p-4 text-white rounded-full btn--jump"
                >
                    <UserGroupIcon
                            class="w-20 h-20
                            mx-auto align-middle mt-5"
                    />
                </router-link>
            </span>
        </div>
    </div>
</section>

